#bluesky{
	width:500px;
	height:500px;
}

#bridge{
	width:750px;
	height:380.5px;
}

#bench{
	width:500px;
	height:500px;
}

#butterfly{
	width:504px;
	height:672px;
}

#freedom{
	width:493px;
	height:493px;
}