<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../css/about.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab:300,400" rel="stylesheet">
</head>
<body>
	<div class="header">
		<div class="flex-container"> 
			<div class="work">
				<button class="dropbtn">Work</button>
				<div class="dropdown-content">
					<a href="../templates/njn.html">N.J.N Logo</a>
					<a href="../templates/theater.html">Welcome to the Theater</a>
					<a href="../templates/drawings.html"> Pencil Drawings</a>
					<a href="../templates/lizrd.html"> Lizrd Concept Design</a>
					<a href="../templates/zen.html">Zen Pavilion</a>
					<a href="../templates/photos.html">Photography</a>
				</div>
			</div>
		</div>

		<div class="home">
			<a href="../index.html">Jessica Nosal</a>
		</div>
		<div class="about"><a href="../templates/about.html"> About
		</div>
	</div>

	<div class="bioPhoto">
		<img src="../media/me.jpg" alt="Jess with statues">
	</div>
		<div class="page-content">
		<h1> Here's a little bit about me!</h1>
	</div>

	<div class="bio"> 
		<p>Currently, I am a senior at Fordham University studying New Media and Digital Design with a concentration in Art, Text, and Design. I'm also minoring in Economics just for fun.
		<br>
		<br>
		I've mainly practiced pencil drawing, and now I am exploring different digital mediums for design while I have the opportunity. i'm skilled in Adobe Photoshop, Illustrator, InDesign, XD, iMovie, and Vectorworks with some knowledge of Unity.</p>
	</div>
</body>
</html>