<!DOCTYPE html>
<html>
<head>
	<title>Drawings</title>
	<link rel="stylesheet" type="text/css" href="../css/drawings.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab:300,400" rel="stylesheet">
</head>
<body>
	<div="header">
		<div class="flex-container"> 
			<div class="work">
				<button class="dropbtn">Work</button>
				<div class="dropdown-content">
					<a href="../templates/njn.html">N.J.N Logo</a>
					<a href="../templates/theater.html">Welcome to the Theater</a>
					<a href="../templates/drawings.html"> Pencil Drawings</a>
					<a href="../templates/lizrd.html"> Lizrd Concept Design</a>
					<a href="../templates/zen.html">Zen Pavilion</a>
					<a href="../templates/photos.html">Photography</a>
				</div>
			</div>
		</div>
			<div class="home">
				<a href="../index.html">JESSICA NOSAL</a></div>
			<div class="about"> 
				<a href="../templates/about.html">About</a>
			</div>
		</div>
	</div>

	<div>
	<h1>Pencil Drawings</h1>
	</div>

	<div>
	<h3>Prior to digital design, I practiced pencil drawing. These are some of my most recent works. </h3>
	</div>

	<div class="photo-container">
		<img src="../media/drawings/space.jpg" alt="colored drawing of an astronaut with a psychadellic background" class="containerImg" id="space">
	</div>

	<div class="photo-container">
		<img src="../media/drawings/clock.jpg" alt="clock and roses drawing" class="containerImg" id="clock">
	</div>

	<div class="photo-container">
		<img src="../media/drawings/roses.jpg" alt="roses drawing" class="containerImg" id="roses">
	</div>

	<div class="photo-container">
		<img src="../media/drawings/tiger.jpg" alt="tiger face drawing" class="containerImg" id="tiger">
	</div>

</body>
</html>