<!DOCTYPE html>
<html>
<head>
	<title>N.J.N. Logo</title>
	<link rel="stylesheet" type="text/css" href="../css/njn.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab:300,400" rel="stylesheet">
</head>
<body>
	<div="header">
		<div class="flex-container"> 
			<div class="work">
				<button class="dropbtn">Work</button>
				<div class="dropdown-content">
					<a href="../templates/njn.html">N.J.N Logo</a>
					<a href="../templates/theater.html">Welcome to the Theater</a>
					<a href="../templates/drawings.html"> Pencil Drawings</a>
					<a href="../templates/lizrd.html"> Lizrd Concept Design</a>
					<a href="../templates/zen.html">Zen Pavilion</a>
					<a href="../templates/photos.html">Photography</a>
				</div>
			</div>
		</div>
			<div class="home">
				<a href="../index.html">JESSICA NOSAL</a></div>
			<div class="about"> 
				<a href="../templates/about.html">About</a>
			</div>
		</div>
	</div>

	<div>
	<h1>N.J.N. Logo</h1>
	</div>

	<div class="wrapper">
	<h3>My brother is a carpenter and wanted a logo for his designs. This is a concept design I created. One of our dogs, Chancy was used as inspiration for the piece. </h3>
	</div>

	<div class="photo-container">
		<img src="../media/logos/njn.png" alt="logo of a dog inside a sawblade with the initials N.J.N." class="containerImg" id="njn">
	</div>



</body>
</html>