<!DOCTYPE html>
<html>
<head>
	<title>Photography</title>
	<link rel="stylesheet" type="text/css" href="../css/photos.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab:300,400" rel="stylesheet">
</head>
<body>
	<div="header">
		<div class="flex-container"> 
			<div class="work">
				<button class="dropbtn">Work</button>
				<div class="dropdown-content">
					<a href="../templates/njn.html">N.J.N Logo</a>
					<a href="../templates/theater.html">Welcome to the Theater</a>
					<a href="../templates/drawings.html"> Pencil Drawings</a>
					<a href="../templates/lizrd.html"> Lizrd Concept Design</a>
					<a href="../templates/zen.html">Zen Pavilion</a>
					<a href="../templates/photos.html">Photography</a>
				</div>
			</div>
		</div>
			<div class="home">
				<a href="../index.html">JESSICA NOSAL</a></div>
			<div class="about"> 
				<a href="../templates/about.html">About</a>
			</div>
		</div>
	</div>

	<div>
	<h1>Photography</h1>
	</div>

	<div>
	<h3>Either shot with Canon Rebel T6i or iPhone 7 </h3>
	</div>

	<div class="photo-container">
		<img src="../media/photos/bluesky.jpeg" alt=" nyc skyline with blue sky" class="containerImg" id="bluesky">
	</div>

	<div class="photo-container">
		<img src="../media/photos/bench.jpeg" alt="a row of benches" class="containerImg" id="bench">
	</div>

	<div class="photo-container">
		<img src="../media/photos/brooklynbridge.jpeg" alt="nyc skyline with freedom tower and Brooklyn Bridge" class="containerImg" id="bridge">
	</div>

	<div class="photo-container">
		<img src="../media/photos/butterfly.jpg" alt="monarch butterfly on purple flower" class="containerImg" id="butterfly">
	</div>

	<div class="photo-container">
		<img src="../media/photos/freedom.jpg" alt="the freedom tower" class="containerImg" id="freedom">
	</div>


</body>
</html>