<!DOCTYPE html>
<html>
<head>
	<title>Theater Space</title>
	<link rel="stylesheet" type="text/css" href="../css/theater.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab:300,400" rel="stylesheet">
</head>
<body>
	<div="header">
		<div class="flex-container"> 
			<div class="work">
				<button class="dropbtn">Work</button>
				<div class="dropdown-content">
					<a href="../templates/njn.html">N.J.N Logo</a>
					<a href="../templates/theater.html">Welcome to the Theater</a>
					<a href="../templates/drawings.html"> Pencil Drawings</a>
					<a href="../templates/lizrd.html"> Lizrd Concept Design</a>
					<a href="../templates/zen.html">Zen Pavilion</a>
					<a href="../templates/photos.html">Photography</a>
				</div>
			</div>
		</div>
			<div class="home">
				<a href="../index.html">JESSICA NOSAL</a></div>
			<div class="about"> 
				<a href="../templates/about.html">About</a>
			</div>
		</div>
	</div>

	<div>
	<h1>Welcome to the Theater</h1>
	</div>

	<div class="wrapper">
	<h3>Since I love plays and musicals, I decided to recreate a theater that was designed in an abandoned church.</h3>
	</div>

	<div class="photo-container">
		<img src="../media/theater/stage.jpg" alt="3d color rendering of a theater space" id="theater">
	</div>

	<div class="photo-container">
		<img src="../media/theater/topview.jpg" alt="wireframe top view of theater space" id="topview">
	</div>

	<div class="photo-container">
		<img src="../media/theater/sectionview.jpg" alt="wireframe section view of theater space" id="sectionview">
	</div>

	<div class="photo-container">
		<img src="../media/theater/frontview.jpg" alt="wireframe front elevation view of theater space" id="frontview">
	</div>
	<p> All designs are in 1/4 inch scale</p>


</body>
</html>