<!DOCTYPE html>
<html>
<head>
	<title>Zen Pavilion</title>
	<link rel="stylesheet" type="text/css" href="../css/zen.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto+Slab:300,400" rel="stylesheet">
</head>
<body>
	<div="header">
		<div class="flex-container"> 
			<div class="work">
				<button class="dropbtn">Work</button>
				<div class="dropdown-content">
					<a href="../templates/njn.html">N.J.N Logo</a>
					<a href="../templates/theater.html">Welcome to the Theater</a>
					<a href="../templates/drawings.html"> Pencil Drawings</a>
					<a href="../templates/lizrd.html"> Lizrd Concept Design</a>
					<a href="../templates/zen.html">Zen Pavilion</a>
					<a href="../templates/photos.html">Photography</a>
				</div>
			</div>
		</div>
			<div class="home">
				<a href="../index.html">JESSICA NOSAL</a></div>
			<div class="about"> 
				<a href="../templates/about.html">About</a>
			</div>
		</div>
	</div>
	<div>
	<h1>Zen Pavilion</h1>
	</div>

	<div class="wrapper">
	<h3>Designed to evoke a feeling of tranquility while walking through the structure.</h3>
	</div>

	<div class="photo-container">
		<img src="../media/pavilion/zen.jpg" alt="3d color rendering of a zen garden" id="zen">
	</div>

	<div class="photo-container">
		<img src="../media/pavilion/topview.jpg" alt="wireframe top view of zen garden" id="topview">
	</div>

	<div class="photo-container">
		<img src="../media/pavilion/sectionview.jpg" alt="wireframe section view of zen garden" id="sectionview">
	</div>

	<div class="photo-container">
		<img src="../media/pavilion/frontview.jpg" alt="wireframe front elevation view of zen garden" id="frontview">
	</div>
	<p> All designs are in 1/4 inch scale</p>

</body>
</html>